body {
    font-family:'Roboto', sans-serif;
}
*{
    margin: 0%;
    box-sizing: border-box;
}
header {
    background-color: #222222;
    padding-top: 10px;
    padding-left: 10px;

}
nav.navegacion{
    margin:0%;
    padding: 0%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
nav.navegacion{
    width: 1000px;
    margin: 30px;
}
ul.navegacion{
    list-style: none;
}
section div.fondo{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;

}
section{
    flex-direction: row;
    display: flex;
}